p {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    float: right;
}

* {
    margin: 10px;
}

.data {
    height: 20px;
    width: 100%;
    background-color: aliceblue;
}
#data {
    height: 20px;
    width: 100%;
    background-color: aquamarine;
}

h1, h2, h3 {
    color: rgb(109, 92, 185);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
p{
    text-align: left;
    color: azure;
}    

}
input [type="text"]{
    height: 20px;
    width: 100px;
    background-color: blueviolet;
    border-color: brown;
border-bottom-right-radius: 25%;
border-bottom-left-radius: 25%;
border-bottom: 25%;
border-bottom-right-radius: 25%;
border-bottom-left-radius: 25%;

}
input[type="button"]{
    height: 20px;
    width: 100px;
    background-color: blueviolet;
    border-color: brown;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 25%;
}
nav ul li{
    position: relative;
    display: inline-block;
}
li>ul{
    
}